<div class="list-group w-200px bg-white br-light batch-list" data-controller="batch-active">
  <% batches.each do |batch| %>
    <%= link_to "##{batch.number}", batch_path(batch),
      class: "list-group-item #{'active' if batch == @batch}",
      data: {
        turbo_frame: :batch_details,
        turbo_action: :advance,
        action: 'click->batch-active#toggle',
        batch_active_target: 'link'
      } %>
  <% end %>
</div>
